.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    min-width: none;
    margin:20px 0px;
    column-gap: 15px;
    /* border: 1px solid black; */
}
.photo{
    width: 385px;
    height: 300px;
    border-radius: 15px;
}
.line{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items:center;
    height: 100px;
    font-family: Roboto;
    color: white;
    font-weight: bold;
    font-size: 25px;
    background: rgb(21, 21, 63);
    border-bottom:3px solid orange ;
}
